<div class='alert alert-success'>
<h1><code>Pandas</code> series for <b>Beginners</b></h1>

by: <b>SomeBiziCoder</b> | a.k.a. <i>Babak Zolghadr-Asli</i>
---

[YouTube Main Channel](https://www.youtube.com/@SomeBiZiCoder) |
[YouTube Second Channel](https://www.youtube.com/@babakzolghadr-asli) |
[Google Scholar](https://scholar.google.com/citations?user=6owBze4AAAAJ&hl=en) |
[Researchgate](https://www.researchgate.net/profile/Babak_Zolghadr-Asli) |
[Linkdedin](https://www.linkedin.com/in/babak-zolghadr-asli/) |
[GitHub](https://github.com/BabakZolghadrAsli) |
[Instagram](https://www.instagram.com/babakzolghadrasli/) |
[Twitter](https://x.com/babak_zolghadr) |
[Website](https://babakzolghadrasli.space)

</div>

<div class='alert alert-info'>
    <h2>Episode #01 | Introduction</h2>
</div>

* Original Data Source: [NASA](https://climate.nasa.gov/vital-signs/global-temperature/)
* Working Data Repo: [GitHub@BabakZolghadrAsli](https://github.com/BabakZolghadrAsli/pandas_series/tree/main/Data)

<div class='alert alert-warning'>
    <h3>Importing <code>pandas</code> library</h3>
</div>

In [ ]:
import pandas

In [ ]:
import pandas as pd

<div class='alert alert-warning'>
    <h3>Reading a <code>csv</code> file</h3>
</div>

In [ ]:
pd.read_csv('World Temperature - Nasa.csv')

In [ ]:
pd.read_csv('C:/Users/bz267/OneDrive - University of Exeter/Desktop/Social Media/YouTube/Coding Channel/Series/Excel Automation with Pyhton Series/Data/World Temperature - Nasa.csv')

<div class='alert alert-warning'>
    <h3>Reading a <code>xlsx</code> file</h3>
</div>

In [ ]:
pd.read_excel('World Temperature - Nasa.xlsx')

In [ ]:
pd.read_excel('World Temperature - Nasa.xlsx', sheet_name='Source')

In [ ]:
pd.read_excel('World Temperature - Nasa.xlsx', sheet_name=0)

In [ ]:
db_new = pd.read_excel('World Temperature - Nasa.xlsx')
db_new

In [ ]:
type(db_new)

In [ ]:
excl_obj = pd.ExcelFile('World Temperature - Nasa.xlsx')
excl_obj

In [ ]:
sheet_names = excl_obj.sheet_names
sheet_names

In [ ]:
pd.read_excel('World Temperature - Nasa.xlsx', sheet_name=sheet_names[-1])

In [ ]:
pd.read_excel()

<div class='alert alert-warning'>
    <h3>Saving Excel files</h3>
</div>

In [ ]:
table_1 = pd.read_csv('World Temperature - Nasa.csv')
table_1

In [ ]:
table_1.to_csv('testing_csv_file.csv')

<div class='alert alert-info'>
    <h2>Episode #02 | Basic Concepts of DataFrames</h2>
</div>

In [ ]:
import pandas as pd

<div class='alert alert-warning'>
    <h3>Dataframe Properties</h3>
</div>

In [ ]:
db = pd.read_csv('World Temperature - Nasa.csv')
db

In [ ]:
type(db)

In [ ]:
db.shape

In [ ]:
db.size, 144 * 3 # db.shape[0]*db.shape[1]

In [ ]:
db.ndim, len(db.shape)

In [ ]:
db.columns

In [ ]:
db.index

In [ ]:
db.axes

In [ ]:
db.head()

In [ ]:
db.tail()

In [ ]:
db.head(10)

In [ ]:
db.describe()

In [ ]:
db.isnull()

In [ ]:
db.isna()

In [ ]:
db.isnull().sum(axis=0)

In [ ]:
db.dtypes

In [ ]:
db.iloc[1, 1]

<div class='alert alert-warning'>
    <h3>Accessing the Data</h3>
</div>

In [ ]:
db.head()

In [ ]:
db.columns

In [ ]:
db['Year']

In [ ]:
db['No_Smoothing']

In [ ]:
db['Lowess(5)']

In [ ]:
db[['Year', 'Lowess(5)']]

In [ ]:
type(db['Year'])

In [ ]:
db['Year'][1]

In [ ]:
db['Year'][5:]

In [ ]:
db['Year'][:3]

In [ ]:
db['Year'][5:-2:2]

In [ ]:
db['Year'][5:-2:2].index

In [ ]:
db.Year

In [ ]:
db.No_Smoothing

In [ ]:
db.Lowess(5)

In [ ]:
Lowess(5) = 2

In [ ]:
db.iat[1, 2] # row, column

In [ ]:
db.head()

In [ ]:
db.iat[1]

In [ ]:
db['Year'].iat[1]

In [ ]:
db.at[1, 'Year'] # row, columns name

In [ ]:
db.iloc[1, 1]

In [ ]:
db.head()

In [ ]:
db.iloc[[1, 2], [0, 2]] # row(s), column(s)

In [ ]:
db.iloc[[1, 2], 2]

In [ ]:
db.iat[[1, 2], 2]

In [ ]:
db.iloc[1:, :]

In [ ]:
db.loc[[1, 2], ['Year', 'No_Smoothing']] # row(s), column names(s)

In [ ]:
db.loc[[1, 2], 'Year'] # row(s), column names(s)

In [ ]:
db.loc[[1, 2], ['Year']]

<div class='alert alert-info'>
    <h2>Episode #03 | Basic Numeric Analysis</h2>
</div>

In [ ]:
import pandas as pd

db = pd.read_csv('World Temperature - Nasa.csv')
db

In [ ]:
db.dtypes

<div class='alert alert-warning'>
    <h3>Basic Pre-processing</h3>
</div>

In [ ]:
# Pre-processing

db = db.iloc[1:]
db

In [ ]:
db.dtypes

In [ ]:
db.iloc[0, 0]

In [ ]:
db.Year

In [ ]:
pd.to_numeric(db.Year)

In [ ]:
pd.to_numeric(db)

In [ ]:
db.apply(pd.to_numeric)

In [ ]:
db.dtypes

In [ ]:
db.apply(pd.to_numeric).dtypes

In [ ]:
db = db.apply(pd.to_numeric)
db

In [ ]:
db.dtypes

In [ ]:
db.describe()

In [ ]:
db['No_Smoothing'].astype(float)

In [ ]:
df = pd.DataFrame({'Col_1': ['A', 'A', 'B', 'B', 'B'],
                   'Col_2': ['a', 'a', 'a', 'b', 'b'],
                   'Col_3': [4, 4, 3.5, 15, 5]})
df

In [ ]:
df.drop_duplicates()

In [ ]:
df

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df

In [ ]:
import numpy as np

df = pd.DataFrame({'Col_1': ['A', 'A', 'B', 'B', 'B'],
                   'Col_2': ['a', np.nan, 'a', 'b', 'b'],
                   'Col_3': [np.nan, 4, 3.5, 15, 5]})
df

In [ ]:
df.dropna()

In [ ]:
df

In [ ]:
df.dropna(inplace=True)
df

In [ ]:
df = pd.DataFrame({'Col_1': ['A', 'A', 'B', 'B', 'B'],
                   'Col_2': ['a', np.nan, 'a', 'b', 'b'],
                   'Col_3': [np.nan, 4, 3.5, 15, 5]})
df

In [ ]:
df.fillna(9999)

In [ ]:
df.fillna({'Col_1':'NaN', 'Col_2':'nan', 'Col_3':9999})

In [ ]:
df

In [ ]:
df.fillna(0, inplace=True)

In [ ]:
df

<div class='alert alert-danger'>
    <h4>Exc. #1</h4>
    Use what we have learned to have the second column show values with one decimal points.<br>
    Hint: <code>round()</code> can help change float properties
</div>

In [ ]:
round(3.42, ndigits=1)

In [ ]:
round(3.42, 1)

In [ ]:
db.head()

In [ ]:
db.apply(round)

In [ ]:
db['No_Smoothing'].apply(round)

In [ ]:
db['No_Smoothing'].apply(round(ndigits=2))

In [ ]:
db['No_Smoothing'].apply(round(db['No_Smoothing'], ndigits=2))

In [ ]:
round(db['No_Smoothing'], ndigits=1)

In [ ]:
f = lambda x:round(x, ndigits=1)
db['No_Smoothing'].apply(f)

In [ ]:
def g(x):
    return round(x, ndigits=1)

db['No_Smoothing'].apply(g)

In [ ]:
db

In [ ]:
f(db['No_Smoothing'])

In [ ]:
g(db['No_Smoothing'])

In [ ]:
db['No_Smoothing'].round(1)

In [ ]:
db

<div class='alert alert-warning'>
    <h3>Basic Stat. Analysis</h3>
</div>

In [ ]:
db

In [ ]:
db.describe()

In [ ]:
db.max()

In [ ]:
db.min()

In [ ]:
db.median()

In [ ]:
db.mean()

In [ ]:
db.var()

In [ ]:
db.skew()

In [ ]:
db.kurtosis()

In [ ]:
db.quantile(q=.25)

In [ ]:
db.describe()

In [ ]:
db.nlargest(5, ['No_Smoothing', ])

In [ ]:
db.nlargest(5, ['No_Smoothing', 'Lowess(5)'])

In [ ]:
db.nsmallest(10, ['No_Smoothing', ])

In [ ]:
db.nunique()

In [ ]:
db.sum()

In [ ]:
sum_val = 0
for i in db.No_Smoothing:
    sum_val += i # sum_val = sum_val + i
sum_val

In [ ]:
db.head()

In [ ]:
db.sum(axis=1)

In [ ]:
db.mean(axis=1)

<div class='alert alert-info'>
    <h2>Episode #04 | Basic DataBase Manipulations - Part 1</h2>
</div>

In [ ]:
import pandas as pd

db = pd.read_csv('World Temperature - Nasa.csv') # Ep. 2
db = db.iloc[1:] # Ep. 2
db = db.apply(pd.to_numeric) # Ep. 3
db.head()

<div class='alert alert-warning'>
    <h3>Changing the Dataframe</h3>
</div>

In [ ]:
db.iloc[0, 0]

In [ ]:
db.iloc[0, 0] = 1870
db.head()

In [ ]:
db.dtypes

In [ ]:
db.iloc[0, 0] = db.iloc[1, 0] - 1
db.head()

In [ ]:
db['No_Smoothing'].abs() * 2

In [ ]:
db['No_Smoothing'] = db['Lowess(5)'] - db['No_Smoothing'].abs() * 2
db

In [ ]:
db.replace(2022, 2030)

In [ ]:
db

In [ ]:
db.replace(2022, 2023, inplace=True)
db

In [ ]:
db.clip(lower=-.7, inplace=True)
db

In [ ]:
db['No_Smoothing'].clip(lower=-.5, upper=0, inplace=True)
db

In [ ]:
db['No_Smoothing'] = db['No_Smoothing'].clip(lower=-.2, upper=0,)
db

In [ ]:
db['Year']>=1900

In [ ]:
db[db['Year']>=1900]

In [ ]:
db['Year'].where(db['Year']>=1900, -10, )

In [ ]:
db

In [ ]:
db['Year'] = db['Year'].where(db['Year']>=1900, -10, )
db

In [ ]:
db['No_Smoothing'] = db['No_Smoothing'].where(db['Year']>=1900, 0, )
db

<div class='alert alert-danger'>
    <h4>Exc. #1</h4>
    Try to replicate what <code>clip()</code> does using what we have learned thus far.<br>
    For example, implement <code>db['Year'].clip(-5, 10)</code>
</div>

In [ ]:
db['Year'].clip(-5, 10)

In [ ]:
lower, upper = -5, 10 
db['Year'].where(db['Year']>lower, lower)

In [ ]:
db['Year'].where(db['Year']<upper, upper)

In [ ]:
db['Year'].where(db['Year']>lower, lower).where(db['Year']<upper, upper)

In [ ]:
db['Year']

In [ ]:
db = pd.read_csv('World Temperature - Nasa.csv')
db = db.iloc[1:]
db = db.apply(pd.to_numeric)
db.head()

In [ ]:
db['No_Smoothing'].rolling(window=3)

In [ ]:
db['No_Smoothing'].rolling(window=3).mean()

In [ ]:
db['No_Smoothing'].rolling(window=3).mean().round(2)

In [ ]:
db.head()

In [ ]:
import numpy as np

df = pd.DataFrame({'Col_1': [1, 3, 5, 3, np.nan],
                   'Col_2': [1.7, np.nan, 1.9, 2.7, 3],
                   'Col_3': [np.nan, 4, 3.5, 15, 5]})
df

In [ ]:
df.fillna(1000)

In [ ]:
df.bfill()

In [ ]:
df.ffill()

In [ ]:
df.isna()

<div class='alert alert-danger'>
    <h4>Exc. #2</h4>
    Consider a DataFrame with null values where you want to replace these with the average of each given column.
</div>

In [ ]:
df = pd.DataFrame({'Col_1': [1, 3, 5, 3, np.nan],
                   'Col_2': [1.7, np.nan, 1.9, 2.7, 3],
                   'Col_3': [np.nan, 4, 3.5, 15, 5]})
df

In [ ]:
df.mean()

In [ ]:
df.fillna(df.mean())

In [ ]:
df

<div class='alert alert-info'>
    <h2>Episode #05 | Basic DataBase Manipulations - Part 2</h2>
</div>

In [ ]:
import pandas as pd

db = pd.read_csv('World Temperature - Nasa.csv') # Ep. 2
db = db.iloc[1:] # Ep. 2
db = db.apply(pd.to_numeric) # Ep. 3
db.head()

<div class='alert alert-warning'>
    <h3>Expanding the DataFrame</h3>
</div>

In [ ]:
db['No_Smoothing'].rolling(window=4).mean()

In [ ]:
db['Moving_Avr_w4'] = db['No_Smoothing'].rolling(window=4).mean().round(2)
db.head()

In [ ]:
db['Moving_Avr_w2'] = db['No_Smoothing'].rolling(window=2).mean().round(2)
db['Moving_Avr_w3'] = db['No_Smoothing'].rolling(window=3).mean().round(2)
db.head()

In [ ]:
db[['Year', 'No_Smoothing']]

In [ ]:
db[['Year', 'No_Smoothing', 'Lowess(5)', 'Moving_Avr_w2', 'Moving_Avr_w3', 'Moving_Avr_w4']]

In [ ]:
db

In [ ]:
db = db[['Year', 'No_Smoothing', 'Lowess(5)', 'Moving_Avr_w2', 'Moving_Avr_w3', 'Moving_Avr_w4']]
db

In [ ]:
new_row_dict = {'Year':2023, 'No_Smoothing':.91, 'Lowess(5)':.88}
new_row_dict

In [ ]:
len(db)

In [ ]:
db.loc[len(db)] = new_row_dict

In [ ]:
db.tail()

In [ ]:
db.loc[300] = new_row_dict
db.tail()

In [ ]:
db.loc[0] = new_row_dict
db.head()

In [ ]:
db = pd.read_csv('World Temperature - Nasa.csv')
db = db.iloc[1:]
db = db.apply(pd.to_numeric)
db.head()

In [ ]:
new_df = pd.DataFrame({'Year': [2023, 2024], 'No_Smoothing':[.91, .92], 'Lowess(5)':[.88, .87]}) #{'Year':2023, 'No_Smoothing':.91, 'Lowess(5)':.88}
new_df

In [ ]:
pd.concat([db, new_df])

In [ ]:
pd.concat([db, new_df], ignore_index=True)

In [ ]:
db

In [ ]:
db = pd.concat([db, new_df], ignore_index=True)
db

In [ ]:
new_df = pd.DataFrame({'New_Col':(db['No_Smoothing'] * .5 - .8)})
new_df

In [ ]:
pd.concat([db, new_df])

In [ ]:
pd.concat([db, new_df], axis=1, )

<div class='alert alert-warning'>
    <h3>How NOT to copy?!</h3>
</div>

In [ ]:
db = pd.read_csv('World Temperature - Nasa.csv') # Ep. 2
db = db.iloc[1:] # Ep. 2
db = db.apply(pd.to_numeric) # Ep. 3
db.head()

In [ ]:
id(db)

In [ ]:
new_db = db
new_db.head()

In [ ]:
db['new_col'] = db['Year']
db.head()

In [ ]:
new_db.head()

In [ ]:
new_db.iloc[0, 0] = 1870
new_db.head()

In [ ]:
db.head()

In [ ]:
id(db)

In [ ]:
id(new_db)

In [ ]:
db_shallow_copy = db.copy()
db_shallow_copy

In [ ]:
db.iloc[1, 0] = 1872
db.head()

In [ ]:
new_db.head()

In [ ]:
db_shallow_copy.head()

In [ ]:
id(db_shallow_copy)

<div class='alert alert-info'>
    <h2>Episode #06 | Basic DataBase Manipulations - Part 3</h2>
</div>

In [1]:
import pandas as pd

db = pd.read_csv('World Temperature - Nasa.csv') # Ep. 2
db = db.iloc[1:] # Ep. 2
db = db.apply(pd.to_numeric) # Ep. 3
db.head()

   Year  No_Smoothing  Lowess(5)
1  1880         -0.17      -0.10
2  1881         -0.09      -0.13
3  1882         -0.11      -0.17
4  1883         -0.18      -0.21
5  1884         -0.29      -0.24

<div class='alert alert-warning'>
    <h3>Arithmetic operations</h3>
</div>

In [2]:
import numpy as np

In [ ]:
a, b = 1, 2
list_1 = [1, 2, 3]
list_2 = [4, 5, 6]
array_1 = np.array(list_1)
array_2 = np.array(list_2)

In [ ]:
a + b

In [ ]:
list_1 + list_2

In [ ]:
[i+j for (i, j) in zip(list_1, list_2)]

In [ ]:
result = list()
for i in range(len(list_1)):
    result.append(list_1[i]+list_2[i])
result

In [ ]:
array_1 + array_2

In [ ]:
a + list_1

In [ ]:
a + array_1

In [ ]:
array_3 = np.array([[1], [2], [3]])
array_3

In [ ]:
array_3.shape

In [ ]:
array_1.reshape(1, -1)

In [ ]:
array_1.shape

In [ ]:
array_1.reshape(1, -1).T

In [ ]:
array_1 + array_3

In [ ]:
db.Year + 100

In [3]:
db.Year + db.No_Smoothing

1      1879.83
2      1880.91
3      1881.89
4      1882.82
5      1883.71
        ...
139    2018.85
140    2019.97
141    2021.01
142    2021.84
143    2022.89
Length: 143, dtype: float64

In [24]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

In [25]:
np.array([1, 2, 3])

array([1, 2, 3])

In [26]:
pd.Series([1, 2, 3]).shape

(3,)

In [27]:
np.array([1, 2, 3]).shape

(3,)

In [28]:
pd.Series([1, 2, 3]).index

RangeIndex(start=0, stop=3, step=1)

In [29]:
np.array([1, 2, 3]).index

AttributeError: 'numpy.ndarray' object has no attribute 'index'

In [30]:
pd.Series([1, 2, 3])[0], pd.Series([1, 2, 3]).iloc[0], pd.Series([1, 2, 3]).iat[0]

(1, 1, 1)

In [31]:
np.array([1, 2, 3])[0]

1

In [32]:
df_a = pd.DataFrame(np.random.randint(0, 5, (4, 4), ))
df_b = pd.DataFrame(np.random.randint(0, 5, (4, 4), ))

In [33]:
df_a

   0  1  2  3
0  1  1  0  3
1  4  1  3  0
2  1  3  4  2
3  1  1  0  4

In [34]:
df_b

   0  1  2  3
0  4  4  4  4
1  1  3  3  0
2  1  0  4  1
3  3  3  0  2

In [35]:
df_a + df_b

   0  1  2  3
0  5  5  4  7
1  5  4  6  0
2  2  3  8  3
3  4  4  0  6

In [36]:
df_a - df_b

   0  1  2  3
0 -3 -3 -4 -1
1  3 -2  0  0
2  0  3  0  1
3 -2 -2  0  2

In [37]:
df_a * df_b

   0  1   2   3
0  4  4   0  12
1  4  3   9   0
2  1  0  16   2
3  3  3   0   8

In [38]:
df_a / df_b

          0         1    2     3
0  0.250000  0.250000  0.0  0.75
1  4.000000  0.333333  1.0   NaN
2  1.000000       inf  1.0  2.00
3  0.333333  0.333333  NaN  2.00

In [39]:
df_a ** df_b

   0  1    2   3
0  1  1    0  81
1  4  1   27   1
2  1  1  256   2
3  1  1    1  16

In [40]:
df_a % df_b

     0    1    2    3
0  1.0  1.0  0.0  3.0
1  0.0  1.0  0.0  NaN
2  0.0  NaN  0.0  0.0
3  1.0  1.0  NaN  0.0

In [41]:
df_a // df_b

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  4.0  0.0  1.0  NaN
2  1.0  inf  1.0  2.0
3  0.0  0.0  NaN  2.0

In [42]:
pd.DataFrame.add(df_a, df_b) # df_a + df_b

   0  1  2  3
0  5  5  4  7
1  5  4  6  0
2  2  3  8  3
3  4  4  0  6

In [43]:
pd.DataFrame.sub(df_a, df_b) # df_a - df_b

   0  1  2  3
0 -3 -3 -4 -1
1  3 -2  0  0
2  0  3  0  1
3 -2 -2  0  2

In [44]:
pd.DataFrame.multiply(df_a, df_b) # df_a * df_b

   0  1   2   3
0  4  4   0  12
1  4  3   9   0
2  1  0  16   2
3  3  3   0   8

In [45]:
pd.DataFrame.mul(df_a, df_b) # df_a * df_b

   0  1   2   3
0  4  4   0  12
1  4  3   9   0
2  1  0  16   2
3  3  3   0   8

In [46]:
pd.DataFrame.divide(df_a, df_b) # # df_a / df_b

          0         1    2     3
0  0.250000  0.250000  0.0  0.75
1  4.000000  0.333333  1.0   NaN
2  1.000000       inf  1.0  2.00
3  0.333333  0.333333  NaN  2.00

In [47]:
pd.DataFrame.div(df_a, df_b) # df_a / df_b

          0         1    2     3
0  0.250000  0.250000  0.0  0.75
1  4.000000  0.333333  1.0   NaN
2  1.000000       inf  1.0  2.00
3  0.333333  0.333333  NaN  2.00

In [48]:
pd.DataFrame.pow(df_a, df_b) # df_a ** df_b

   0  1    2   3
0  1  1    0  81
1  4  1   27   1
2  1  1  256   2
3  1  1    1  16

In [49]:
pd.DataFrame.mod(df_a, df_b) # df_a % df_b

     0    1    2    3
0  1.0  1.0  0.0  3.0
1  0.0  1.0  0.0  NaN
2  0.0  NaN  0.0  0.0
3  1.0  1.0  NaN  0.0

In [50]:
pd.DataFrame.floordiv(df_a, df_b) # df_a // df_b

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  4.0  0.0  1.0  NaN
2  1.0  inf  1.0  2.0
3  0.0  0.0  NaN  2.0

In [59]:
df_a

   0  1  2  3
0  1  1  0  3
1  4  1  3  0
2  1  3  4  2
3  1  1  0  4

In [60]:
 df_a.iloc[0]

0    1
1    1
2    0
3    3
Name: 0, dtype: int32

In [61]:
pd.DataFrame.add(df_a, df_a.iloc[0])

   0  1  2  3
0  2  2  0  6
1  5  2  3  3
2  2  4  4  5
3  2  2  0  7

In [68]:
df_a.iloc[:, 0]

0    1
1    4
2    1
3    1
Name: 0, dtype: int32

In [69]:
df_a

   0  1  2  3
0  1  1  0  3
1  4  1  3  0
2  1  3  4  2
3  1  1  0  4

In [70]:
pd.DataFrame.add(df_a, df_a.iloc[:, 0])

   0  1  2  3
0  2  5  1  4
1  5  5  4  1
2  2  7  5  3
3  2  5  1  5

In [71]:
df_a.iloc[:, 0].shape

(4,)

In [72]:
df_a

   0  1  2  3
0  1  1  0  3
1  4  1  3  0
2  1  3  4  2
3  1  1  0  4

In [73]:
pd.DataFrame.add(df_a, df_a.iloc[:, 0], axis=0)

   0  1  2  3
0  2  2  1  4
1  8  5  7  4
2  2  4  5  3
3  2  2  1  5

<div class='alert alert-info'>
    <h2>Episode #07 | Indexing System in DataFrames and Series</h2>
</div>

In [ ]:
import pandas as pd

db = pd.read_csv('World Temperature - Nasa.csv') # Ep. 2
db = db.iloc[1:] # Ep. 2
db = db.apply(pd.to_numeric) # Ep. 3
db.head()

<div class='alert alert-warning'>
    <h3>Location vs. Lable-based index: <code>iloc[]</code> vs. <code>loc[]</code></h3>
</div>

In [ ]:
db.iloc[:, 0]

In [ ]:
db.loc[:, 'Year']

In [ ]:
db.index

In [ ]:
db

In [ ]:
db.iloc[1]

In [ ]:
db.loc[1]

In [ ]:
db.axes

In [ ]:
db.index==1

In [ ]:
db[db.index==1]

In [ ]:
db.loc[300] = {'Year':2025, 'No_Smoothing':.1, 'Lowess(5)':.9}

In [ ]:
db.tail()

In [ ]:
db.last_valid_index()

In [ ]:
len(db)

In [ ]:
db.iloc[142]

In [ ]:
db.iloc[-1]

In [ ]:
db.iloc[143]

In [ ]:
db.iloc[300]

In [ ]:
db.loc[300]

In [ ]:
db.loc[143]

In [ ]:
series_obj = pd.Series([1, 2, 3])
series_obj

In [ ]:
series_obj.index

In [ ]:
series_obj.loc[10] = 20
series_obj

In [ ]:
series_obj[10]

In [ ]:
series_obj.loc[10]

In [ ]:
series_obj.iloc[10]

In [ ]:
series_obj.iloc[3]

In [ ]:
series_obj.iloc[-1]

<div class='alert alert-warning'>
    <h3>Altering the indexing system</h3>
</div>

In [ ]:
db.index

In [ ]:
db.index[0]

In [ ]:
db.index[:5]

In [ ]:
db.reset_index()

In [ ]:
db

In [ ]:
db.reset_index(drop=True)

In [ ]:
db.reset_index(drop=True, inplace=True)

In [ ]:
db

In [ ]:
db.set_index('Year')

In [ ]:
db

In [ ]:
pd.Timestamp(year=1880, month=1, day=1, )

In [ ]:
pd.Timestamp(year=1880, month=1, day=1, ).strftime('%m-%d-%Y')

In [ ]:
tstamp = pd.Timestamp(year=1880, month=1, day=1, )
tstamp

In [ ]:
tstamp.year, tstamp.month, tstamp.day, tstamp.hour

In [ ]:
pd.date_range(start=pd.Timestamp(year=1880, month=1, day=1, ), periods=len(db), freq='YE-JAN')

In [ ]:
pd.date_range(start=pd.Timestamp(year=1880, month=1, day=1, ), periods=len(db), freq='YE-DEC')

In [ ]:
index = pd.date_range(start=pd.Timestamp(year=1880, month=1, day=1, ), periods=len(db), freq='YE-JAN')

In [ ]:
db['index'] = index
db.head()

In [ ]:
new_db = db.set_index('index', drop=True)

In [ ]:
new_db

In [ ]:
new_db.index

In [ ]:
new_db.index.year

In [ ]:
new_db.index.month

In [ ]:
new_db.index.year>=2000

In [ ]:
new_db[new_db.index.year>=2000]

In [ ]:
db[db.Year>=2000]

In [ ]:
db.index = index
db

In [ ]:
db = db[['Year', 'No_Smoothing', 'Lowess(5)']]
db

<div class='alert alert-warning'>
    <h3>Linking datafarmes</h3>
</div>

In [ ]:
df_1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df_2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

In [ ]:
df_1

In [ ]:
df_2

In [ ]:
pd.concat([df_1, df_2], )

In [ ]:
pd.concat([df_1, df_2], ignore_index=True)

In [ ]:
pd.concat([df_1, df_2], axis=1)

In [ ]:
pd.concat([df_1, df_2], axis=1, ignore_index=True)

In [ ]:
df_3 = pd.DataFrame({'Year': [1990, 1991, 1992], 'Max. Temp.':[32, 31, 28], 'Min Temp.': [-5, -2, 1]}, )
df_4 = pd.DataFrame({'Year': [1991, 1992, 1993], 'Prec.': [190, 185, 195], 'Rainy Days': [100, 80, 120]}, )

In [ ]:
df_3

In [ ]:
df_4

In [ ]:
df_3.merge(df_4, on='Year', )

In [ ]:
df_3.merge(df_4, on='Year', how='inner')

In [ ]:
df_3.merge(df_4, on='Year', how='left')

In [ ]:
df_3.merge(df_4, on='Year', how='right')

In [ ]:
df_3.merge(df_4, on='Year', how='outer')

In [ ]:
df_3.merge(df_4, ) #on='Year'

In [ ]:
pd.DataFrame.merge(df_3, df_4)

In [ ]:
df_5 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C':[7, 8, 9]}, index=[0, 1, 2])
df_6 = pd.DataFrame({'D': ['a', 'b', 'c'], 'E': ['d', 'e', 'f'], 'F':['g', 'h', 'i']}, index=[1, 2, 3])

In [ ]:
df_5

In [ ]:
df_6

In [ ]:
df_5.join(df_6)

In [ ]:
df_5.join(df_6, how='left')

In [ ]:
df_5.join(df_6, how='right')

In [ ]:
df_5.join(df_6, how='inner')

In [ ]:
df_5.join(df_6, how='outer')

In [ ]:
df_5.join(df_6, how='cross')

In [ ]:
df_3

In [ ]:
df_4

<div class='alert alert-info'>
    <h2>Episode #08 | More advanced stuff! [sort, Groupby, plot, and more]</h2>
</div>

In [ ]:
import pandas as pd

db = pd.read_csv('World Temperature - Nasa.csv') # Ep. 2
db = db.iloc[1:] # Ep. 2
db = db.apply(pd.to_numeric) # Ep. 3
db.head()

<div class='alert alert-warning'>
    <h3>Sampling and Sorting</h3>
</div>

In [ ]:
db.sample(n=5, )

In [ ]:
db.nlargest(5, 'No_Smoothing')

In [ ]:
db.nlargest(5, ['No_Smoothing', 'Lowess(5)'])

In [ ]:
db.nsmallest(5, 'No_Smoothing')

In [ ]:
db.nsmallest(len(db), 'No_Smoothing')

In [ ]:
db.sort_values('No_Smoothing')

In [ ]:
db.sort_values(['No_Smoothing', 'Lowess(5)'])

In [ ]:
db.sort_values(['No_Smoothing', 'Lowess(5)'], ascending=False, )

In [ ]:
db

In [ ]:
db.sort_values(['No_Smoothing', 'Lowess(5)'], ascending=False, inplace=True)

In [ ]:
db

In [ ]:
db.sort_values(['No_Smoothing', 'Lowess(5)'], ascending=False, ignore_index=True) # reset_index()

In [ ]:
db.reset_index(drop=True)

In [ ]:
db.sort_index()

In [ ]:
db.sort_index(ascending=False, inplace=False, ignore_index=True)

<div class='alert alert-warning'>
    <h3>Adavnced Analysis [<code>groupby</code>]: <b>Titanic Dataset</b></h3>
</div>

Data Source: 

* Original Data Source: [Public Domain](https://www.kaggle.com/c/titanic/data)
* Working Data Repo: [GitHub@BabakZolghadrAsli](https://github.com/BabakZolghadrAsli/pandas_series/tree/main/Data)

In [ ]:
titanic_db = pd.read_csv('Titanic-Dataset.csv')

In [ ]:
titanic_db.head()

In [ ]:
titanic_db.tail()

In [ ]:
titanic_db.describe()

In [ ]:
titanic_db.info()

In [ ]:
titanic_db.isnull().sum()

<div class='alert alert-danger'>
    <h4>Exc. I.</h4>
Aalayse the survivol rate based on these factors:
    
* <b>Ticket class</b>: <code>Pclass</code>
* <b>Passengers' gender</b>: <code>sex</code>
* <b>Passengers' age</b>: <code>Age</code>
* <b>Passengers' companions</b>: <code>sibsp</code> and <code>parch</code>
    
</div>

In [ ]:
titanic_db.Survived

In [ ]:
titanic_db['Survived']

In [ ]:
titanic_db.Survived.sum()

In [ ]:
(titanic_db.Survived==1).sum()

In [ ]:
len(titanic_db)

In [ ]:
titanic_db.Survived.sum()/len(titanic_db)

In [ ]:
survival_rate = ((titanic_db.Survived.sum()/len(titanic_db))*100).round(2)
survival_rate

In [ ]:
# Conditional Prob.

In [ ]:
# I. Ticket classes: Proxy for social class

In [ ]:
titanic_db['Pclass'].unique()

In [ ]:
(titanic_db['Pclass']==1).sum()

In [ ]:
((titanic_db['Pclass']==1)&((titanic_db.Survived==1)))

In [ ]:
titanic_db.head()

In [ ]:
((titanic_db['Pclass']==1)&((titanic_db.Survived==1))).sum()

In [ ]:
((titanic_db['Pclass']==1)&((titanic_db.Survived==1))).sum()/(titanic_db['Pclass']==1).sum()

In [ ]:
pclass_var = 1
pr_surv = ((titanic_db['Pclass']==pclass_var)&((titanic_db.Survived==1))).sum()/(titanic_db['Pclass']==pclass_var).sum()
pr_surv = (pr_surv*100).round(2)
pr_surv

In [ ]:
pclass_var = 2
pr_surv = ((titanic_db['Pclass']==pclass_var)&((titanic_db.Survived==1))).sum()/(titanic_db['Pclass']==pclass_var).sum()
pr_surv = (pr_surv*100).round(2)
pr_surv

In [ ]:
pclass_var = 3
pr_surv = ((titanic_db['Pclass']==pclass_var)&((titanic_db.Survived==1))).sum()/(titanic_db['Pclass']==pclass_var).sum()
pr_surv = (pr_surv*100).round(2)
pr_surv

In [ ]:
# II. Gender of passengers

In [ ]:
titanic_db.Sex

In [ ]:
titanic_db.Sex.unique()

In [ ]:
gender_var = 'male'
pr_surv = ((titanic_db['Sex']==gender_var)&((titanic_db.Survived==1))).sum()/(titanic_db['Sex']==gender_var).sum()
pr_surv = (pr_surv*100).round(2)
pr_surv

In [ ]:
gender_var = 'female'
pr_surv = ((titanic_db['Sex']==gender_var)&((titanic_db.Survived==1))).sum()/(titanic_db['Sex']==gender_var).sum()
pr_surv = (pr_surv*100).round(2)
pr_surv

In [ ]:
gender_var = 'female'
pclass_var = 1

pr_surv = ((titanic_db['Sex']==gender_var)&((titanic_db.Survived==1))&(titanic_db['Pclass']==pclass_var)).sum()/((titanic_db['Sex']==gender_var)&(titanic_db['Pclass']==pclass_var)).sum()
pr_surv = (pr_surv*100).round(2)
pr_surv

In [ ]:
gender_var = 'female'
pclass_var = 2

pr_surv = ((titanic_db['Sex']==gender_var)&((titanic_db.Survived==1))&(titanic_db['Pclass']==pclass_var)).sum()/((titanic_db['Sex']==gender_var)&(titanic_db['Pclass']==pclass_var)).sum()
pr_surv = (pr_surv*100).round(2)
pr_surv

In [ ]:
gender_var = 'female'
pclass_var = 3

pr_surv = ((titanic_db['Sex']==gender_var)&((titanic_db.Survived==1))&(titanic_db['Pclass']==pclass_var)).sum()/((titanic_db['Sex']==gender_var)&(titanic_db['Pclass']==pclass_var)).sum()
pr_surv = (pr_surv*100).round(2)
pr_surv

In [ ]:
gender_var = 'male'
pclass_var = 1

pr_surv = ((titanic_db['Sex']==gender_var)&((titanic_db.Survived==1))&(titanic_db['Pclass']==pclass_var)).sum()/((titanic_db['Sex']==gender_var)&(titanic_db['Pclass']==pclass_var)).sum()
pr_surv = (pr_surv*100).round(2)
pr_surv

In [ ]:
gender_var = 'male'
pclass_var = 2

pr_surv = ((titanic_db['Sex']==gender_var)&((titanic_db.Survived==1))&(titanic_db['Pclass']==pclass_var)).sum()/((titanic_db['Sex']==gender_var)&(titanic_db['Pclass']==pclass_var)).sum()
pr_surv = (pr_surv*100).round(2)
pr_surv

In [ ]:
gender_var = 'male'
pclass_var = 3

pr_surv = ((titanic_db['Sex']==gender_var)&((titanic_db.Survived==1))&(titanic_db['Pclass']==pclass_var)).sum()/((titanic_db['Sex']==gender_var)&(titanic_db['Pclass']==pclass_var)).sum()
pr_surv = (pr_surv*100).round(2)
pr_surv

In [ ]:
# III. Age

In [ ]:
titanic_db.Age

In [ ]:
titanic_db.Age.quantile(q=0), titanic_db.Age.quantile(q=1) # .min(), .max()

In [ ]:
titanic_db.Age.quantile(q=.25), titanic_db.Age.quantile(q=.5), titanic_db.Age.quantile(q=.75) # Q1, Q2, Q3

In [ ]:
len(titanic_db)

In [ ]:
titanic_db.Age.isna()

In [ ]:
~titanic_db.Age.isna()

In [ ]:
(~titanic_db.Age.isna()).sum(), (titanic_db.Age.isna()).sum()

In [ ]:
((~titanic_db.Age.isna())&(titanic_db.Survived==1)).sum()

In [ ]:
# before
age_th = 28.0


pr_sur = ((titanic_db.Age<=age_th)&(titanic_db.Survived==1)).sum()/(titanic_db.Age<=age_th).sum()
pr_sur = (pr_sur*100).round(2)
pr_sur

In [ ]:
# aftter
pr_sur = ((titanic_db.Age>=age_th)&(titanic_db.Survived==1)).sum()/(titanic_db.Age>=age_th).sum()
pr_sur = (pr_sur*100).round(2)
pr_sur

In [ ]:
# before
age_th = 20.125


pr_sur = ((titanic_db.Age<=age_th)&(titanic_db.Survived==1)).sum()/(titanic_db.Age<=age_th).sum()
pr_sur = (pr_sur*100).round(2)
pr_sur

In [ ]:
pr_sur = ((titanic_db.Age>=age_th)&(titanic_db.Survived==1)).sum()/(titanic_db.Age>=age_th).sum()
pr_sur = (pr_sur*100).round(2)
pr_sur

In [ ]:
age_th = 10

pr_sur = ((titanic_db.Age<=age_th)&(titanic_db.Survived==1)).sum()/(titanic_db.Age<=age_th).sum()
pr_sur = (pr_sur*100).round(2)
pr_sur

In [ ]:
pr_sur = ((titanic_db.Age>=age_th)&(titanic_db.Survived==1)).sum()/(titanic_db.Age>=age_th).sum()
pr_sur = (pr_sur*100).round(2)
pr_sur

<div class='alert alert-danger'>
    
* <b>Passengers' boarding location</b>: <code>embarked</code>
</div>

In [ ]:
titanic_db.columns

In [ ]:
titanic_db.groupby(by=['Survived'])

In [ ]:
titanic_db.groupby(by=['Survived']).sum()

In [ ]:
titanic_db.groupby(by=['Survived'])['Survived'].count()

In [ ]:
round((342/(342+549))*100, 2)

In [ ]:
titanic_db.groupby(by=['Pclass'])['Survived'].sum()

In [ ]:
titanic_db.groupby(by=['Pclass'])['Pclass'].count()

In [ ]:
216+184+491

In [ ]:
round((136/(216))*100, 2)

In [ ]:
round((87/(184))*100, 2)

In [ ]:
round((119/(491))*100, 2)

In [ ]:
titanic_db.groupby(by=['Pclass', 'Sex', 'Survived'])['PassengerId'].count()

In [ ]:
# f & c3
round((72/(72+72))*100, 2)

In [ ]:
# m & c3
round((47/(47+300))*100, 2)

In [ ]:
titanic_db.groupby(by=['Pclass', 'Sex', 'Survived'])['Age'].mean()

In [ ]:
titanic_db.groupby(by=['Pclass', 'Sex', 'Survived'])['Age'].max()

In [ ]:
titanic_db.groupby(by=['Pclass', 'Sex', 'Survived'])['Age'].min()

In [ ]:
titanic_db['Age'].plot(kind='box')

In [ ]:
(titanic_db.groupby(by=['Pclass', 'Sex', 'Survived'])['PassengerId'].count()).plot(kind='pie', )

In [ ]:
db

In [ ]:
db.sort_index().plot(x='Year', figsize=(12, 4), grid=True, ylabel='Temperature [C]')

In [ ]:
!pip install seaborn

In [ ]:
import seaborn as sns

In [ ]:
fig = sns.violinplot(titanic_db, x='Pclass', y='Age', )

In [ ]:
fig = sns.violinplot(titanic_db, x='Pclass', y='Age', hue='Survived')

In [ ]:
fig = sns.violinplot(titanic_db, x='Sex', y='Age', hue='Survived')

In [ ]:
plot_series = titanic_db.groupby(by=['Pclass', 'Sex', 'Survived'])['PassengerId'].count()
plot_series

In [ ]:
type(plot_series)

In [ ]:
plot_series.index

In [ ]:
pd.DataFrame(plot_series)

In [ ]:
pd.DataFrame(plot_series).plot(kind='bar')

In [ ]:
sns.barplot(data=pd.DataFrame(plot_series), x='Pclass', y='PassengerId', hue='Survived', errorbar=None)

<div class='alert alert-info'>
    <h2>Episode #09 | Automating Excel - Part 1</h2>
</div>

In [ ]:
import pandas as pd
import numpy as np

<div class='alert alert-warning'>
    <h3>Create & Save Files</h3>
</div>

In [ ]:
import pathlib

#### I. Working File and Folder Names

In [ ]:
folder_dir = 'C:/Users/bz267/Excel_files' # r'C:\Users\bz267\Excel_files'

In [ ]:
folder_dir

In [ ]:
r'C:\Users\bz267\Excel_files'

In [ ]:
folder_path = pathlib.Path(folder_dir)
folder_path

In [ ]:
type(folder_path)

In [ ]:
folder_path.mkdir(parents=True, exist_ok=False)

In [ ]:
folder_name = 'file_1.csv'
folder_name

In [ ]:
folder_path / folder_name

In [ ]:
'%s/%s'%(folder_dir, folder_name)

In [ ]:
f'{folder_dir}/{folder_name}'

In [ ]:
file_path_list = ['Temp.csv', 'Cost_benefit.csv', 'location.csv']
file_path_list

In [ ]:
file_paths = list()
for file_name in file_path_list:
    file_paths.append('%s/%s'%(folder_dir, file_name))
file_paths

In [ ]:
file_path_list = []
for i in range(1, 5):
    folder_name = f'file_{i}.csv'
    file_path = f'{folder_dir}/{folder_name}'
    file_path_list.append(file_path)
file_path_list

In [ ]:
file_path_list = ['%s/file_%d.csv'%(folder_dir, i) for i in range(1, 5)]
file_path_list

#### II. Applying functions and saving files

<div class='alert alert-danger'>
    <h4>Exc. | Creating and Saving Files in a Loop</h4>
    Go back to the <b>Titanic dataset</b> and create a series of <code>CSV</code> files, each consisting of the passenger ID columns linked to another column.
</div>

In [ ]:
titanic_db = pd.read_csv('Titanic-Dataset.csv')

In [ ]:
titanic_db.columns

In [ ]:
titanic_db.columns[1:]

In [ ]:
titanic_db[['PassengerId', 'Survived']]

In [ ]:
for column in titanic_db.columns[1:]:
    temp_db = titanic_db[['PassengerId', column]]
    print(temp_db.columns)

In [ ]:
titanic_db.loc[:, ['PassengerId', 'Survived']]

In [ ]:
for coloumn in titanic_db.columns[1:]:
    temp_db = titanic_db.loc[:, ['PassengerId', coloumn]]
    print(temp_db.columns)

In [ ]:
titanic_db.shape

In [ ]:
titanic_db.iloc[:, 11]

In [ ]:
titanic_db.head()

In [ ]:
titanic_db.iloc[:, [0, 11]]

In [ ]:
for col_index in range(1, titanic_db.shape[1]):
    temp_db = titanic_db.iloc[:, [0, col_index]]
    print(temp_db.columns)

In [ ]:
# Saving file name challenge

titanic_db.columns[2]

In [ ]:
col_name = titanic_db.columns[2]

In [ ]:
'%s.csv'%col_name

In [ ]:
f'{col_name}.csv'

In [ ]:
folder_names = [] #list()
for col_name in titanic_db.columns[1:]:
    f_name = f'{col_name}.csv'
    folder_names.append(f_name)
folder_names

In [ ]:
folder_names = list()
for col_name in titanic_db.columns[1:]:
    f_name = f'{col_name}.csv'
    folder_names.append(f_name.lower())
folder_names

In [ ]:
folder_names = list()
for col_name in titanic_db.columns[1:]:
    f_name = f'{col_name.upper()}.csv'
    folder_names.append(f_name)
folder_names

In [ ]:
folder_names = [f'{name}.csv' for name in titanic_db.columns[1:]]
folder_names

In [ ]:
folder_dir = 'C:/Users/bz267/Titanic_files' 
folder_path = pathlib.Path(folder_dir)
folder_path.mkdir(parents=True, exist_ok=True)
for coloumn in titanic_db.columns[1:]:
    temp_db = titanic_db.loc[:, ['PassengerId', coloumn]]
    f_name = f'{coloumn}.csv'
    temp_db.to_csv(folder_path/f_name, )

In [ ]:
folder_dir = 'C:/Users/bz267/Titanic_files' 
folder_path = pathlib.Path(folder_dir)
folder_path.mkdir(parents=True, exist_ok=True)
for coloumn in titanic_db.columns[1:]:
    temp_db = titanic_db.loc[:, ['PassengerId', coloumn]]
    f_name = f'{coloumn}.csv'
    temp_db.to_csv(folder_path/f_name, index=False)

<div class='alert alert-info'>
    <h2>Episode #10 | Automating Excel - Part 2</h2>
</div>

In [ ]:
import pandas as pd
import numpy as np

import pathlib

folder_dir = 'C:/Users/bz267/example'

In [ ]:
np.random.uniform(low=-1, high=1, size=(2, 1))

In [ ]:
rnd_gnt = np.random.default_rng()
rnd_gnt.uniform(-1, 1, (2, 1))

<div class='alert alert-danger'>
    <h4>Exc. | Wroknig with Random Numbers - Part I</h4>
    Use what we have learned to create a dataset consisting of points scattered in a 2D space [Two variables, say x and y].<br>
    
* Determine how many of these generated points would fall inside an arbitrary circle placed at the center of your space with the size of the circle denoted by a parameter <code>radius</code>.
</div>

In [ ]:
import numpy as np

In [ ]:
n_samples = 100
x_center,  y_center = 0, 0

radius = 1

In [ ]:
rnd_gnt = np.random.default_rng()
x = rnd_gnt.uniform(x_center-radius, x_center+radius, n_samples)
y = rnd_gnt.uniform(x_center-radius, x_center+radius, n_samples)
df = pd.DataFrame()
df['X'] = x
df['Y'] = y
df

In [ ]:
df = pd.DataFrame(rnd_gnt.uniform([-1, 0], [0, 2], (3, 2)), columns=['X', 'Y'])
df

In [ ]:
def rnd_df_generator(x_center=0, y_center=0, radius=1, n_samples=100):
    rnd_eng = np.random.default_rng()
    low_val = [x_center-radius, y_center-radius]
    high_val = [x_center+radius, y_center+radius]
    output = rnd_eng.uniform(low=low_val, high=high_val, size=(n_samples, 2))
    return pd.DataFrame(output, columns=['X', 'Y'])

In [ ]:
x_center, y_center = 0, 0
radius = 1
n_samples = 100

test = rnd_df_generator(x_center, y_center, radius, n_samples)
test

In [ ]:
fig = test.plot(kind='scatter', x='X', y='Y')

In [ ]:
x_center, y_center = 0, 0
radius = 5
n_samples = 100

test = rnd_df_generator(x_center, y_center, radius, n_samples)
fig = test.plot(kind='scatter', x='X', y='Y')
test

In [ ]:
x_center, y_center = 0, 0
radius = .5
n_samples = 100000

test = rnd_df_generator(x_center, y_center, radius, n_samples)
fig = test.plot(kind='scatter', x='X', y='Y')
test

In [ ]:
x_center, y_center = 0, 0
radius = 1
n_samples = 100

test = rnd_df_generator(x_center, y_center, radius, n_samples)
fig = test.plot(kind='scatter', x='X', y='Y')
test

In [ ]:
test

In [ ]:
test.Y

In [ ]:
test['Y']

In [ ]:
((test.X**2 + test.Y**2)**.5)<=radius

In [ ]:
selected_samples = ((test.X**2 + test.Y**2)**.5)<=radius
selected_samples.sum()

In [ ]:
test['Test'] = selected_samples
test

In [ ]:
def rnd_df_generator(x_center=0, y_center=0, radius=1, n_samples=100):
    rnd_eng = np.random.default_rng()
    low_val = [x_center-radius, y_center-radius]
    high_val = [x_center+radius, y_center+radius]
    output = rnd_eng.uniform(low=low_val, high=high_val, size=(n_samples, 2)).round(2)
    output = pd.DataFrame(output, columns=['X', 'Y'])
    output['Test'] = ((output.X**2 + output.Y**2)**.5)<=radius
    return output

In [ ]:
x_center, y_center = 0, 0
radius = 5
n_samples = 100

test = rnd_df_generator(x_center, y_center, radius, n_samples)
fig = test.plot(kind='scatter', x='X', y='Y')
test

<div class='alert alert-danger'>
    <h4>Exc.| Working with Random Numbers - Part II</h4>
    Use what we have learned to create a bacth of csv files.<br>
    
* We want two parent folder, each represnting <code>radius = 1</code> and <code>radius = 5</code>
    
* In each we need 2 csv files one <code>n_sample = 1000</code> and <code>n_sample = 100000</code>, and the name of the file should reflect that.
    
</div>

In [ ]:
radius_values = [1, 5]
n_samples_values = [1000, 100000]
for radius in radius_values:
    folder_path = pathlib.Path('C:/Users/bz267/example/radius_%d'%radius)
    folder_path.mkdir(parents=True, exist_ok=True)
    for n_samples in n_samples_values:
        file_name = 'n_samples_%d.csv'%n_samples
        temp_df = rnd_df_generator(radius=radius, n_samples=n_samples)
        temp_df.to_csv(folder_path/file_name, )

In [ ]:
radius_values = [1, 5]
n_samples_values = [1000, 100000]
for radius in radius_values:
    folder_path = pathlib.Path('C:/Users/bz267/example/radius_%d'%radius)
    folder_path.mkdir(parents=True, exist_ok=True)
    for n_samples in n_samples_values:
        file_name = 'n_samples_%d.csv'%n_samples
        temp_df = rnd_df_generator(radius=radius, n_samples=n_samples)
        temp_df.to_csv(folder_path/file_name, index=False)

In [ ]:
radies_values = [1, 5]
n_snamples_values = [10000, 100000]

folder_path = pathlib.Path(folder_dir)
for radius in radies_values:
    folder_name = 'radius_%d'%radius
    folder_path = pathlib.Path(folder_dir) / folder_name
    for n_samples in n_samples_values:
        file_name = 'n_samples_%d.csv'%n_samples
        print(folder_path/file_name)

<div class='alert alert-warning'>
    <h3>Gaging an unxplored Folder</h3>
</div>

In [ ]:
import os

In [ ]:
os.listdir(folder_dir)

In [ ]:
os.listdir('C:/Users/bz267/example/radius_1')

In [ ]:
fold_list = []
folder_dir = 'C:/Users/bz267/example/radius_1'
for i in os.listdir(folder_dir):
    fold_list.append(pathlib.Path(folder_dir)/i)

fold_list

In [ ]:
folder_dir = 'C:/Users/bz267/example'

In [ ]:
folder_names = os.listdir(folder_dir)
file_names = list()

for folder_name in folder_names:
    temp_file_names = os.listdir(pathlib.Path(folder_dir)/folder_name)
    file_names.append(temp_file_names)
file_names

In [ ]:
file_names[0]

In [ ]:
flatten_file_names = np.array(file_names).flatten()
flatten_file_names

In [ ]:
full_list = os.walk(folder_dir)
full_list

In [ ]:
[i for i in full_list]

In [ ]:
[i for i in full_list]

In [ ]:
full_list = [i for i in full_list]
full_list

In [ ]:
full_list[0][-1]

In [ ]:
full_list[1][-1]

In [ ]:
file_names = [i[-1] for i in full_list]
file_names

<div class='alert alert-warning'>
    <h3>Read a batch of Files</h3>
</div>

<div class='alert alert-danger'>
    <h4>Exc. <i>Monte Carlo (MC) Simulation</i> to estimate $\pi$</h4>
    Use what we have learned to read all the files we have created earlier and using MC estimate $\pi$.<br>
</div>

* <b>Hint:</b> Use the probability of genreting a point falling in the circle.

In [ ]:
temp_db = pd.read_csv(r'C:\Users\bz267\example\radius_1\n_samples_1000.csv')
temp_db

In [ ]:
prob = temp_db.Test.sum() / len(temp_db)
prob

In [ ]:
estimated_pi = (4 * prob).round(4)
estimated_pi

In [ ]:
radius, n_samples = 1, 100000
temp_db = pd.read_csv(r'C:\Users\bz267\example\radius_%d\n_samples_%d.csv'%(radius, n_samples))
prob = temp_db.Test.sum() / len(temp_db)
estimated_pi = (4 * prob).round(4)
estimated_pi

In [ ]:
radius, n_samples = 5, 100000
temp_db = pd.read_csv(r'C:\Users\bz267\example\radius_%d\n_samples_%d.csv'%(radius, n_samples))
prob = temp_db.Test.sum() / len(temp_db)
estimated_pi = (4 * prob).round(4)
estimated_pi

In [ ]:
radies_values = [1, 5]
n_samples_values = [1000, 100000]

folder_path = pathlib.Path(folder_dir)
for radius in radies_values:
    for n_samples in n_samples_values:
        temp_db = pd.read_csv(r'C:\Users\bz267\example\radius_%d\n_samples_%d.csv'%(radius, n_samples))
        prob = temp_db.Test.sum() / len(temp_db)
        estimated_pi = (4 * prob).round(4)
        print('Radius: %d     \t     Num. Samples: %d'%(radius, n_samples))
        print('Estimated value for Pi: \t %.4f'%estimated_pi)
        print('----'*10)